
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
// @import '../../node_modules/csshake/scss/csshake.scss';

// Variables

$yellow: #D8B83E;
$white: #FFF;
$black: #000;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

// html {
//   height: 100%;
// }

img {
  max-width: 100%;
}

/*****

BOOTSTRAP OVERIDES

*****/

.container {
  margin-top: 8%;
}

/*

Splash Screen Styling

*/

.splash-bg-img {
  background: url('../images/sky-bkgrnd.jpg');
  background-size: cover;
}

.splash-heading {
  font-size: 70px;
  color: $yellow;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
}

.char-wrapper {
  text-align: center;
  padding: 7px; 
  margin-top: 20px;
  background-color: $white;
  border: 1px solid $yellow;
  border-radius: 50%;

  img {
    height: 220px;
    padding: 5px;
  }
}

.player-select-wrapper {
  text-align: center;
  margin: 50px 0;
}

.player-select-btn {
  font-size: 20px;
  color: $white;
  padding: 0 15px;
  background-color: transparent;
  border-color: transparent;
  border: 2px solid $white;
  border-radius: 5px;
}

.player-select-btn:hover {
  color: $black;
  background-color: $white;
}

/*

FIGHT SCREEN STYLING

*/

.fight-bg-img {
  text-align: center;
  background: url('../images/springfield-bkgrnd.png');
  background-size: cover;
}

.fight-text {
  height: 175px;
  margin: 5%;
  padding: 7px;
  background-color: $white;
  border-radius: 10px;
  border: 2px solid $black;
}

.player-wrapper {
  position: relative;
  max-width: 100%;
  margin-top: 20%;

   img {
   max-height: 200px;
   }
}

.player-health-wrapper {
  position: absolute;
  top: -25%;
  left: 40%;
  width: 30%;
}

.player-health {
  color: $white;
  background-color: green;
  width: 100%;
  height: 18px;
  padding: 1px 0;
  border: 1px solid $white;
  border-radius: 5px;
}

.player-hp {
  font-size: 14px;
  color: $black;
  background-color: $white;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.actions-wrapper {
  min-height: 160px;
}

.actions {
  width: 25%;
  margin: 20px auto;
  padding: 2% 0;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
}

.punch-btn,
.kick-btn {
  margin-right: 6px;
}

.punch-btn,
.kick-btn,
.take-donut-btn {
  color: $white;
  background-color: red;
}

.power-up-btn {
  margin-top: 7px;
  color: $white;
  background-color: green;
}

.punch-btn:hover,
.kick-btn:hover,
.take-donut-btn:hover,
.power-up-btn:hover {
  color: $black;
  background-color: transparent;
  border: 1px solid black;
}

.enemy-wrapper {
  position: relative;
  max-width:100%;
  margin-top: 12%;
  
  img {
   max-height: 200px;
  }
}

.enemy-health-wrapper {
  position: absolute;
  top: -25%;
  left: 30%;
  width: 30%;
}

.enemy-hp {
  font-size: 14px;
  color: $black;
  background-color: $white;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.enemy-health {
  color: $white;
  background-color: green;
  width: 100%;
  height: 18px;
  padding: 1px 0;
  border: 1px solid $white;
  border-radius: 5px;
}

/*****
Winner and loser styling 
*****/

.winOrLose-img img {
  max-height: 400px;
}

.play-again {
  margin: 30px 0;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid $black;
}

.play-again:hover {
  color: $white;
  background-color: transparent;
  border: 2px solid $white;
}

/*****
Mobile Styling
*****/

@media(max-width: 750px) {
  .container {
    margin-top: 0;
  }

  .splash-heading {
    font-size: 40px;
  }

  .fight-text {
    text-align: left;
    height: 235px;
  }

  .player-wrapper {
      top: 25px;
  }

  .enemy-wrapper {
    top: 25px;
  }
}

@media(max-width: 450px) {
  .player-wrapper {
    margin: 20px 0;
  }

  .enemy-wrapper {
    margin: 20px 0;
  }

  .player-health-wrapper {
     top: -15%;
     width: 50%;
  }

  .enemy-health-wrapper {
     top: -15%;
     width: 50%;
  }

  .actions {
    width: 80%;
  }
}