   <div class="actions">
      <button class="punch-btn">Punch</button>
      <button class="kick-btn">Kick</button>
      <button class="take-donut-btn">Take Donut</button> 
      <br />
      <button class="power-up-btn">Power Up</button>
    </div>