<div class="{{name}}">
   <div class="player-health-wrapper">
      <div class="player-hp">{{currentHealth}}</div>
        <div class="player-health"></div>
    </div>
    <img src="{{image}}" alt="{{name}}" /> 
</div>