<div class="row">
  <div class="col-md-12">
    <h1 class="loser">DOH! {{name}} Lost..</h1>
    <p>better luck next time!</p>
    <div class="winOrLose-img animated shake">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <button class="play-again">PLAY AGAIN</button>
  </div>
</div>
