<div class="row">
  <div class="col-md-12">
    <h1 class="winner"> {{name}} WINS!</h1>
    <div class="winOrLose-img animated zoomIn">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <button class="play-again">PLAY AGAIN</button>
  </div>
</div>
