<div class="{{name}}">
  <div class="enemy-health-wrapper">
      <div class="enemy-hp">{{currentHealth}}</div>
      <div class="enemy-health"></div>
  </div>
  <img src="{{image}}" alt="{{name}}"> 
</div>