<div class="row">
    <div class="col-md-5 col-md-offset-4 fight-text-wrapper">
        <div class="fight-text">
            <!-- different fight text templates -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <div class="player-wrapper">
            <!-- hero template -->
        </div>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="enemy-wrapper">
          <!-- villain template -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="actions-wrapper">
         <!-- actions template -->
        </div>
    </div>
</div>