<ol>
  Rules to note before getting started:
  <li>Punch: 50% chance of landing and is the weakest</li>
  <li>Kick: 33% chance of landing and is random</li>
  <li>Take Donut: 20% chance of landing and will do the most damage</li>
</ol>

